.left-gutter {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
  user-select: none;
  background-color: #fafbfc;
}

.logo {
  margin-bottom: 20px;
}

.sorting-options {
  margin-bottom: 20px;
}

.sorting-options h3,
.tags h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #908e8e;
}

.sort-options ul {
  list-style-type: none;
  padding: 0;
}

.sort-options li {
  cursor: pointer;
  margin-bottom: 5px;
}

li:hover {
  text-decoration: none;
}

.sorting-title {
  border-bottom: 1px solid;
  border-color: #f0f1f3;
}
.tags-title {
  border-bottom: 1px solid;
  border-color: #f0f1f3;
}

.sort-options {
  color: #908e8e;
}
