.context {
  display: flex;
  min-height: 100vh;
}

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  user-select: none;
  background-color: #fafbfc;
  margin-top: 100px;
}

.rightGutter + .leftGutter {
  margin-left: 2%;
}

.leftGutter {
  border-right: 0.5px solid;
  border-color: #aeaeae;
}

.rightGutter {
  border-left: 0.5px solid;
  border-color: #aeaeae;
  background-color: #aeaeae;
}

.create-post-button {
  justify-content: left;
  background-color: #f8542f;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  padding: 5px;
}

.login-context {
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #aeaeae;
  max-width: 300px;
  padding: 30px;
}

.sign-in-button {
  min-width: 280px;
  min-height: 50px;
  margin-top: 60px;
  border: none;
  background-color: #f8542f;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.email-input {
  background-color: bisque;
  border-radius: 10px;
}

.email-input input {
  background-color: bisque;
  border: none;
  height: 50px;
  border-radius: 10px;
  max-width: 275px;
}
.password-input {
  background-color: bisque;
  border-radius: 10px;
  margin-top: 35px;
}

.password-input input {
  background-color: bisque;
  border: none;
  height: 50px;
  border-radius: 10px;
  max-width: 275px;
}

.not-a-member {
  text-align: center;
}

body {
  margin: 0;
  background-color: #fafbfc;
}
