.context {
  display: flex;
  height: 100vh;
}

.center {
  flex-grow: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  user-select: none;
  background-color: #fafbfc;
  margin-top: 100px;
}

.rightGutter + .leftGutter {
  margin-left: 2%;
}

.leftGutter {
  border-right: 0.5px solid;
  border-color: #aeaeae;
}

.rightGutter {
  border-left: 0.5px solid;
  border-color: #aeaeae;
  background-color: #aeaeae;
}

body {
  margin: 0;
  background-color: #fafbfc;
}
