.context {
  display: flex;
  min-height: 100vh;
}
.loginContext {
  display: flex;
  min-height: 500px;
}
.createPostContext {
  display: flex;
}
.profileContext {
  display: flex;
  min-height: 20px;
}
.registrationContext {
  display: flex;
  max-height: 500px;
}

.center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin-top: 100px;
}

.rightGutter + .leftGutter {
  margin-left: 2%;
  background-color: #fafbfc;
}

.leftGutter {
  border-right: 0.5px solid;
  border-color: #aeaeae;
}

.rightGutter {
  border-left: 0.5px solid;
  border-color: #aeaeae;
  background-color: #aeaeae;
}

.createPost {
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 450px;
  align-self: center;
}

.create-post-button {
  justify-content: left;
  background-color: #f8542f;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  padding: 5px;
}
.createPostInput {
  border: 0.5px solid;
  background-color: #fafbfc;
}
.createPostInput:hover {
  border-color: #ffffff;
  background-color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  background-color: #fafbfc;
}

#root {
  font-family: 'Inter';
}

button {
  font-family: 'Inter';
}
